table{   
    width: 30em;
    font-family: serif;
    border-collapse: collapse;
    font-size: 110%;  
    border-radius: 10px;
    box-shadow:2px 5px 15px 3px; 
}

th{
    background-color:darkgrey;
    font-size: 130%;
}

th{
    padding: 2px;
    padding-left:3px; 
    padding-right: 4px;
} 

td{
  
    
    padding-left: 4px;
}

tr:nth-child(even){
    background-color:aquamarine;
}

caption{
    font-family:fantasy;
    font-size: 200%; 
    color: #de2222;              
}

#menu a{
    text-decoration: none; 
    color: darkgreen;  
    font-weight: 200;
    font-size: 40px;
    font-family: fantasy; 
    padding-left: 20px;  
}

h2{    
   font-size:200%;  
}

p{
    font-size: 150%; 
    font-family: Hevetica:sans-serif
     
}


